@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

.Main1 {
    background-color: #203a39;
    color: white;
    text-align: center;
}

.Main1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.Main1 li,
a {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 100%;
}

.menu-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.Main2 {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Main2 img {
    width: 300px;
    height: 300px;
    margin: 40px;
}

.text1,
.text2 {
    font-size: 10px;
    text-align: center;

}

.Text3 {
    text-align: center;
}

.Copy {
    text-align: center;
    font-size: 10px;

}

.image,
img {
    width: 100%;
    height: 100%;
}
